<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>910584877480-4og7kj09j268bfcg2v78q1nkt3cefkmf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.910584877480-4og7kj09j268bfcg2v78q1nkt3cefkmf</string>
	<key>API_KEY</key>
	<string>AIzaSyD824P9SBGWXfRsfHHxJqPGU0Z5tUYiPlI</string>
	<key>GCM_SENDER_ID</key>
	<string>910584877480</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.IanJackson.RunTheTable</string>
	<key>PROJECT_ID</key>
	<string>run-the-table</string>
	<key>STORAGE_BUCKET</key>
	<string>run-the-table.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:910584877480:ios:4f2f973637ec11fa694d9d</string>
</dict>
</plist>